.details_container {
  width: 450px;
  background: #f4e5d8;
  border-radius: 30px;
  padding: 15px 20px 8px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 max-height: 400px; 
  overflow-y: auto;
}

.details_container h2 {
  color: rgb(67, 34, 97);
  font-size: 1.2rem;
  padding-bottom: 8px;
}

.details_container p {
  font-size: 0.7rem;
  padding-bottom: 8px;
}

.details_container li {
  font-size: 0.75rem;
  line-height: 2px;
  margin-top: 8px;

}

.details_list {
  padding-bottom: 5px;
}

.details_container li::before {
  content: "•";
  color: #090000;
  font-weight: bold;
  display: inline-block;
  width: 0.2em;
  margin-left: 0;
}
@media (max-width: 768px) {
  .details_container {
    width: 90vw;
    padding: 20px;
    margin-bottom: 10px;
  }

  .details_container h2 {
    font-size: 22px
  }

  .details_container p {
    font-size: 0.9rem;
    line-height: 1.3;
    
  }

  .details_container li {
    font-size: 0.9rem;
    line-height: 1;
    margin-top: 6px;
    font-weight: lighter;
  }
}
